@import "../../../styles/global.scss";

body {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  //background-image: url("https://images.pexels.com/photos/616401/pexels-photo-616401.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  box-sizing: border-box;
  overflow-x: hidden;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .nav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;

    .nav-item {
      a {
        text-decoration: none;
        color: #333;
        font-weight: 500;
        transition: color 0.3s ease;

        &:hover {
          color: $button-color;
        }
      }
    }
  }
}

.restaurant-button {
  background-color: $button-color;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  &:hover {
    background-color: darken($button-color, 10%);
    box-shadow: 0 6px 12px rgba(40, 167, 69, 0.5); /* zelena sa 50% providnosti */
    transform: translateY(-3px);
    cursor: pointer;
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 4px 6px rgba(40, 167, 69, 0.3); /* zelena sa 30% providnosti */
  }
}

#restaurants-title-container {
  height: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
  background-color: white;
  transition: all 0.6s ease-in-out;

  &.scrolled {
    position: fixed;
    top: 0px;
    height: 40px;
    width: 100%;
    padding: 0.5rem 1rem;
  }

  h1 {
    font-size: 40px;
    padding-left: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
  }
}

#restaurant-details-container {
  width: 80%;
  height: 600px;
  margin: 40px auto;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal;
  overflow: hidden;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);

  #restaurant-details-text {
    width: 50%;
    height: 100%;
    padding: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    .restaurant-name {
      font-size: 45px;
      font-weight: bold;
      margin-bottom: 10px;
      margin-left: 25px;
    }

    .restaurant-description {
      font-size: 28px;
      margin: 25px;
    }

    .restaurant-capacity,
    .restaurant-location {
      margin-left: 25px;
    }

    .restaurant-status {
      margin-top: auto;
      margin-left: 25px;
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      font-weight: bold;
    }

    .status-indicator {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-left: 12px;
      border-radius: 50%;
      vertical-align: text-top;
    }

    .status-preparation {
      background-color: rgb(255, 166, 0);
    }

    .status-published {
      background-color: green;
    }

    #resBtnHolder {
      display: flex;
      flex-direction: column; // stavi kolone, da ide vertikalno
      justify-content: flex-end; // spusti na dno
      align-items: flex-end; // opcionalno, ako želiš da bude desno
      height: 100%;

      #resBtn {
        width: 30%;
      }
    }
  }

  #restaurant-details-photos {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: stretch;

    .restaurant-image {
      width: 100%;
      height: 100%;
      border-radius: 12px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
      object-fit: cover;
    }
  }
}

#meals-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 40px;
  gap: 50px;
  background-color: whitesmoke;

  .meal-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between; // Rasporedi sadržaj da dugmad budu dole
    width: 100%;
    max-width: 250px;
    height: 380px; // fiksna visina
    overflow: hidden;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    .meal-image {
      width: 100%;
      max-height: 170px;
      object-fit: cover; // ili scale-down ako ti više odgovara
      border-radius: 6px;
    }

    .meal-info {
      height: 330px;
      flex: 1;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 10px;
    }

    .meal-name {
      max-height: 50px;
      margin-top: 15px;
      margin-bottom: 15px;
      font-weight: bold;
      font-size: 24px;
    }

    .meal-ingredients {
      margin: 0;
      min-height: 70px;
      max-height: 70px;
      font-size: 14px;
    }

    .meal-price {
      text-align: center;
      padding-top: 6px;
      margin: 0;
      max-height: 30px;
      min-height: 30px;
      width: 80px;
      font-size: 15px;
      background-color: steelblue;
      color: white;
      text-shadow: rgba(0, 0, 0, 0.1);
      border-radius: 10px;
    }

    .meal-actions {
      height: 30px;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      padding: 5px;
      padding-top: 10px;
    }

    #deleteBtn {
      background-color: $warn-color;

      &:hover {
        background-color: darken($warn-color, 10%);
        box-shadow: 0 6px 12px rgba(217, 83, 79, 0.5); // crvena sa 50% providnosti
        transform: translateY(-3px);
        cursor: pointer;
      }

      &:active {
        transform: translateY(-1px);
        box-shadow: 0 4px 6px rgba(217, 83, 79, 0.3); // crvena sa 30% providnosti
      }
    }
  }
}

@media (max-width: 600px) {
  #restaurants-title-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 50px;
    box-sizing: border-box;
    padding: 0;

    h1 {
      padding: 0;
      margin: 0;
      font-size: 20px;
    }

    .restaurant-title-buttons {
      width: 50%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      overflow: hidden;

      button {
        padding: 3px;
        width: 72px;
        height: 30px;
        font-size: 12px;
      }
    }
  }

  #restaurant-details-container {
    flex-direction: column-reverse;
    width: 95%;
    height: auto;
    margin: 20px auto;

    #restaurant-details-photos {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;

      .restaurant-image {
        width: 90%;
        height: 90%;
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
        object-fit: fill;
      }
    }
  }

  #restaurant-details-text {
    width: 100% !important;
    padding: 20px;

    .restaurant-name {
      font-size: 28px;
      margin-left: 0;
      text-align: center;
    }

    .restaurant-description {
      font-size: 18px;
      margin: 20px 0;
      text-align: center;
    }

    .restaurant-capacity,
    .restaurant-location {
      font-size: 16px;
      margin-left: 0;
      text-align: center;
    }

    .restaurant-status {
      align-self: center;
    }

    #resBtnHolder {
      display: flex;
      justify-content: center !important;
      align-items: center !important;
      padding: 10px;

      #resBtn {
        height: 40px;
        width: 80% !important;
      }
    }
  }

  #meals-container {
    padding: 20px 10px;
    gap: 20px;
  }

  .meal-card {
    width: 100%;
    max-width: 90vw;
  }

  .meal-image {
    max-height: 120px;
  }

  .meal-info p {
    font-size: 13px;
  }

  .restaurant-button {
    font-size: 14px;
    padding: 8px 12px;
  }
}
